body{

	background: #FFD27F;
	font-family: Lato;
}

/* Navegador */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 75px;
  /* responsivamente, margin-left: -13px; */

}
/* Nav */
ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.94px;

}



ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* GRELHA */
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  width: 100%;
  text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* responsivo */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/* título */
#título{

	text-align: center;
}
/* sub-título */
.slogan{

	text-align: center;
}
/* rodapé */
.footer{

text-align: right;
}
/* botões */
button{

	background: #000000;
	border: none;
	color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
	cursor: pointer;
}
/* shop */
.Cart{
	margin-top: -22px;
}

.Cart:hover{
	background: #0099CC;
}

/* produtos */
.product {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* String's para JavaScript */
.String{
  margin-top:5px;
  display: flex;
  align-items: center;
}

.String1 {
  margin-left:5px;
}

.String2 {
  margin-left:5px;
}

.String3 {
  margin-left:5px;
}
/* exemplo de id para JS */
#example00 {
  text-align:center;
  font-style: italic;
}
/* margem */
.intro2 {
  margin-top:55px;
}